.App {
  text-align: center;
}

h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.note button {
  margin-left: 10px;
  width:70px;

}

.note button:hover{
  opacity:0.7;
}
